body{
    background-color: black;
    
    
    background: url("../../assets/img/football-bg2.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;     /* chrome */
    -moz-background-size: cover;        /* ff */
    -o-background-size: cover;          /* opr */
    background-size: cover;             /* ie */
}